extends layout

block content
    h1 ABOUT
    each developer in title
        h2 Developer:
        p
            strong First Name
            | : #{developer.first_name}
        p
            strong Last Name
            | : #{developer.last_name}
        p
            strong ID
            | : #{developer.id}
        p
            strong Email
            | : #{developer.email}
